<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
    <link rel="stylesheet" rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/weather.png" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    {{>header}}
    {{>content}}
    <p>{{forecast}}</p>
    {{>footer}}
</body>

</html>