<form id="SearchForm" method="GET" action="/weather/">
    <div class="columns is-mobile">
        <div class="field column is-10">
            <div class="control has-icons-left has-icons-right">
                <input autocomplete="false" class="searchBox input is-primary" name="location" type="text"
                    placeholder="Search for any Location">
                <span class="icon is-left">
                    <i class="fas fa-globe"></i>
                </span>
            </div>
        </div>
        <div class="field column is-2">
            <input type="submit" class="button" id="LocationSubmit" value="Show">
        </div>
    </div>
</form>